---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/327367/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"sent","emailBlurb":"Envelope body content here","emailSubject":"The
        test email subject envelope","templateId":"1728d333-f919-4ab7-aad4-95ae40f51ff6","eventNotification":{},"templateRoles":[{"name":"jon","email":"someone@gmail.com","roleName":"Issuer","tabs":{"textTabs":[],"checkboxTabs":[]},"clientUserId":"someone@gmail.com"}]}'
    headers:
      x-docusign-authentication:
      - '{"Username":"jonkinney@gmail.com","Password":"MnUWneAH3xqL2G","IntegratorKey":"NAXX-93c39e8c-36c4-4cb5-8099-c4fcedddd7ad"}'
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"f66d283f-0965-4d32-b827-f99f127a7956\",\r\n
        \ \"uri\": \"/envelopes/f66d283f-0965-4d32-b827-f99f127a7956\",\r\n  \"statusDateTime\":
        \"2013-11-08T03:26:27.2281666Z\",\r\n  \"status\": \"sent\"\r\n}"
  recorded_at: Fri, 08 Nov 2013 03:26:27 GMT
recorded_with: VCR 2.7.0
