---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v1/accounts/327367/envelopes
    body:
      encoding: US-ASCII
      string: ! "{\n        \"status\"        : \"sent\",\n        \"emailBlurb\"
        \   : \"Envelope body content here\",\n        \"emailSubject\"  : \"The test
        email subject envelope\",\n        \"templateId\"    : \"ee4118e2-44d3-4a2d-b9a0-56e177c7329e\",\n
        \       \"templateRoles\" : [{\n          \"clientUserId\" : \"someone@gmail.com\",\n
        \         \"name\"         : \"jon\",\n          \"email\"        : \"someone@gmail.com\",\n
        \         \"roleName\"     : \"Issuer\"\n        }],\n       }"
    headers:
      x-docusign-authentication:
      - <DocuSignCredentials><Username>jonkinney@gmail.com</Username><Password>MnUWneAH3xqL2G</Password><IntegratorKey>NAXX-93c39e8c-36c4-4cb5-8099-c4fcedddd7ad</IntegratorKey></DocuSignCredentials>
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\r\n  \"envelopeId\": \"e189f413-390e-41d8-aa14-0d93d5d8188e\",\r\n
        \ \"uri\": \"/envelopes/e189f413-390e-41d8-aa14-0d93d5d8188e\",\r\n  \"statusDateTime\":
        \"2013-08-13T19:46:35.8031180Z\",\r\n  \"status\": \"sent\"\r\n}"
  recorded_at: Tue, 13 Aug 2013 19:46:36 GMT
recorded_with: VCR 2.2.2
