*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/docusign_login_config.rb
test/tmp
test/version_tmp
test/fixtures/vcr/*
tmp
.rvmrc
test.rb
.DS_Store
docusign_docs/*
spike_files/*
.ruby-gemset
.ruby-version
.idea/*
