*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rvmrc
test.rb
test/fixtures/vcr/*
test/docusign_login_config.rb
.DS_Store
docusign_docs/*
.idea/*