---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/<AccountID>/signing_groups
    body:
      encoding: UTF-8
      string: '{"groups":[{"groupName":"sample_group","groupType":"sharedSigningGroup","users":[{"userName":"test1","email":"test@ygrene.us"}]}]}'
    headers:
      x-docusign-authentication:
      - '{"Username":"<Username>","Password":"<Password>","IntegratorKey":"<IntegratorKey>"}'
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-reset:
      - '1478527200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '970'
    body:
      encoding: UTF-8
      string: "{\r\n  \"groups\": [\r\n    {\r\n      \"signingGroupId\": \"7942\",\r\n
        \     \"groupName\": \"sample_group\",\r\n      \"groupType\": \"sharedSigningGroup\",\r\n
        \     \"created\": \"11/7/2016 5:31:21 AM\",\r\n      \"createdBy\": \"Mark
        Jewel\",\r\n      \"modified\": \"11/7/2016 5:31:21 AM\",\r\n      \"modifiedBy\":
        \"Mark Jewel\",\r\n      \"users\": [\r\n        {\r\n          \"userName\":
        \"test1\",\r\n          \"email\": \"test@ygrene.us\"\r\n        }\r\n      ]\r\n
        \   }\r\n  ]\r\n}"
  recorded_at: Mon, 07 Nov 2016 13:31:21 GMT
recorded_with: VCR 3.0.3
