---
http_interactions:
- request:
    method: delete
    uri: https://demo.docusign.net/restapi/v2/accounts/997938/signing_groups
    body:
      encoding: UTF-8
      string: '{"groups":[{"signingGroupId":null}]}'
    headers:
      x-docusign-authentication:
      - '{"Username":"<Username>","Password":"<Password>","IntegratorKey":"<IntegratorKey>"}'
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-reset:
      - '1478599200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '870'
    body:
      encoding: UTF-8
      string: "{\r\n  \"groups\": [\r\n    {\r\n      \"errorDetails\": {\r\n        \"errorCode\":
        \"SIGNING_GROUP_INVALID\",\r\n        \"message\": \"Invalid signing group
        supplied.\"\r\n      }\r\n    }\r\n  ]\r\n}"
  recorded_at: Tue, 08 Nov 2016 09:34:00 GMT
recorded_with: VCR 3.0.3
