---
http_interactions:
- request:
    method: delete
    uri: https://demo.docusign.net/restapi/v2/accounts/997938/signing_groups
    body:
      encoding: UTF-8
      string: '{"groups":[{"signingGroupId":"8039"}]}'
    headers:
      x-docusign-authentication:
      - '{"Username":"<Username>","Password":"<Password>","IntegratorKey":"<IntegratorKey>"}'
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-reset:
      - '1478599200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '868'
    body:
      encoding: UTF-8
      string: "{\r\n  \"groups\": [\r\n    {\r\n      \"signingGroupId\": \"8039\",\r\n
        \     \"groupName\": \"sample_group\",\r\n      \"groupType\": \"sharedSigningGroup\",\r\n
        \     \"created\": \"11/8/2016 1:34:02 AM\",\r\n      \"createdBy\": \"Mark
        Jewel\",\r\n      \"modified\": \"11/8/2016 1:34:02 AM\",\r\n      \"modifiedBy\":
        \"Mark Jewel\"\r\n    }\r\n  ]\r\n}"
  recorded_at: Tue, 08 Nov 2016 09:34:05 GMT
recorded_with: VCR 3.0.3
