---
http_interactions:
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/accounts/327367/envelopes/f0e9a301-90a3-40f7-bc19-a154a6734838/recipients?include_tabs=true&include_extended=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-docusign-authentication:
      - '{"Username":"jonkinney@gmail.com","Password":"MnUWneAH3xqL2G","IntegratorKey":"NAXX-93c39e8c-36c4-4cb5-8099-c4fcedddd7ad"}'
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"signers\": [\r\n    {\r\n      \"tabs\": {\r\n        \"signHereTabs\":
        [\r\n          {\r\n            \"name\": \"Sign Here\",\r\n            \"tabLabel\":
        \"Signature 1\",\r\n            \"scaleValue\": 1.0,\r\n            \"optional\":
        \"false\",\r\n            \"documentId\": \"1\",\r\n            \"recipientId\":
        \"1\",\r\n            \"pageNumber\": \"1\",\r\n            \"xPosition\":
        \"95\",\r\n            \"yPosition\": \"35\",\r\n            \"tabId\": \"d9335a9e-b685-4b7e-aba0-0c51f3131b80\"\r\n
        \         }\r\n        ]\r\n      },\r\n      \"name\": \"jon\",\r\n      \"email\":
        \"someone@gmail.com\",\r\n      \"recipientId\": \"1\",\r\n      \"recipientIdGuid\":
        \"5a782ae8-a942-4b56-8acc-b8d0bbcc83d1\",\r\n      \"requireIdLookup\": \"false\",\r\n
        \     \"userId\": \"d94b1d17-350d-4503-8481-8cd5cf45e33a\",\r\n      \"clientUserId\":
        \"someone@gmail.com\",\r\n      \"routingOrder\": \"1\",\r\n      \"note\":
        \"\",\r\n      \"roleName\": \"Issuer\",\r\n      \"status\": \"sent\",\r\n
        \     \"templateLocked\": \"true\",\r\n      \"templateRequired\": \"true\"\r\n
        \   }\r\n  ],\r\n  \"agents\": [],\r\n  \"editors\": [],\r\n  \"intermediaries\":
        [],\r\n  \"carbonCopies\": [],\r\n  \"certifiedDeliveries\": [],\r\n  \"inPersonSigners\":
        [],\r\n  \"recipientCount\": \"1\",\r\n  \"currentRoutingOrder\": \"1\"\r\n}"
  recorded_at: Fri, 08 Nov 2013 03:25:13 GMT
[...]
