---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/327367/envelopes/d15ded2b-35e4-4882-bbbf-0f1938e7d7f1/views/recipient
    body:
      encoding: UTF-8
      string: '{"authenticationMethod":"email","clientUserId":"someone@gmail.com","email":"someone@gmail.com","returnUrl":"http://google.com","userName":"jon"}'
    headers:
      x-docusign-authentication:
      - '{"Username":"jonkinney@gmail.com","Password":"MnUWneAH3xqL2G","IntegratorKey":"NAXX-93c39e8c-36c4-4cb5-8099-c4fcedddd7ad"}'
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"url\": \"https://demo.docusign.net/Member/StartInSession.aspx?t=74d94972-bb69-45d1-8155-4d501b5ba708\"\r\n}"
  recorded_at: Fri, 08 Nov 2013 03:25:15 GMT
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/327367/envelopes/f66d283f-0965-4d32-b827-f99f127a7956/views/recipient
    body:
      encoding: UTF-8
      string: '{"authenticationMethod":"email","clientUserId":"someone@gmail.com","email":"someone@gmail.com","returnUrl":"http://google.com","userName":"jon"}'
    headers:
      x-docusign-authentication:
      - '{"Username":"jonkinney@gmail.com","Password":"MnUWneAH3xqL2G","IntegratorKey":"NAXX-93c39e8c-36c4-4cb5-8099-c4fcedddd7ad"}'
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"url\": \"https://demo.docusign.net/Member/StartInSession.aspx?t=775916fe-5218-42db-a933-998a2232d0d1\"\r\n}"
  recorded_at: Fri, 08 Nov 2013 03:26:28 GMT
recorded_with: VCR 2.7.0
