---
http_interactions:
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/accounts/327367/templates/4cdd14eb-8209-4c42-9a18-d7650d71ff21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-docusign-authentication:
      - '{"Username":"jonkinney@gmail.com","Password":"MnUWneAH3xqL2G","IntegratorKey":"NAXX-93c39e8c-36c4-4cb5-8099-c4fcedddd7ad"}'
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeTemplateDefinition\": {\r\n    \"templateId\": \"4cdd14eb-8209-4c42-9a18-d7650d71ff21\",\r\n
        \   \"name\": \"Cool Template Name\",\r\n    \"shared\": \"true\",\r\n    \"password\":
        \"\",\r\n    \"description\": \"Cool Description\",\r\n    \"lastModified\":
        \"2013-11-08T11:25:15.6400000Z\",\r\n    \"pageCount\": 1,\r\n    \"uri\":
        \"/templates/4cdd14eb-8209-4c42-9a18-d7650d71ff21\"\r\n  },\r\n  \"emailSubject\":
        \"\",\r\n  \"emailBlurb\": \"\",\r\n  \"signingLocation\": \"online\",\r\n
        \ \"authoritativeCopy\": \"false\",\r\n  \"enforceSignerVisibility\": \"false\",\r\n
        \ \"enableWetSign\": \"true\",\r\n  \"allowReassign\": \"true\"\r\n}"
  recorded_at: Fri, 08 Nov 2013 03:25:29 GMT
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/accounts/327367/templates/f4c7a5fb-c872-46d4-a672-6d78e37a8395
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-docusign-authentication:
      - '{"Username":"jonkinney@gmail.com","Password":"MnUWneAH3xqL2G","IntegratorKey":"NAXX-93c39e8c-36c4-4cb5-8099-c4fcedddd7ad"}'
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeTemplateDefinition\": {\r\n    \"templateId\": \"f4c7a5fb-c872-46d4-a672-6d78e37a8395\",\r\n
        \   \"name\": \"Cool Template Name\",\r\n    \"shared\": \"true\",\r\n    \"password\":
        \"\",\r\n    \"description\": \"Cool Description\",\r\n    \"lastModified\":
        \"2013-11-08T11:26:20.2500000Z\",\r\n    \"pageCount\": 1,\r\n    \"uri\":
        \"/templates/f4c7a5fb-c872-46d4-a672-6d78e37a8395\"\r\n  },\r\n  \"emailSubject\":
        \"\",\r\n  \"emailBlurb\": \"\",\r\n  \"signingLocation\": \"online\",\r\n
        \ \"authoritativeCopy\": \"false\",\r\n  \"enforceSignerVisibility\": \"false\",\r\n
        \ \"enableWetSign\": \"true\",\r\n  \"allowReassign\": \"true\"\r\n}"
  recorded_at: Fri, 08 Nov 2013 03:26:21 GMT
recorded_with: VCR 2.7.0
