---
http_interactions:
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v1/accounts/327367/envelopes/e189f413-390e-41d8-aa14-0d93d5d8188e/recipients?include_tabs=true&include_extended=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-docusign-authentication:
      - <DocuSignCredentials><Username>jonkinney@gmail.com</Username><Password>MnUWneAH3xqL2G</Password><IntegratorKey>NAXX-93c39e8c-36c4-4cb5-8099-c4fcedddd7ad</IntegratorKey></DocuSignCredentials>
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\r\n  \"signers\": [\r\n    {\r\n      \"tabs\": {\r\n        \"signHereTabs\":
        [\r\n          {\r\n            \"name\": \"Sign Here\",\r\n            \"tabLabel\":
        \"Signature 1\",\r\n            \"scaleValue\": 1.0,\r\n            \"optional\":
        \"false\",\r\n            \"documentId\": \"1\",\r\n            \"recipientId\":
        \"1\",\r\n            \"pageNumber\": \"1\",\r\n            \"xPosition\":
        \"171\",\r\n            \"yPosition\": \"78\",\r\n            \"tabId\": \"3f75479e-0a85-4874-b60e-db439db1008a\"\r\n
        \         }\r\n        ]\r\n      },\r\n      \"name\": \"jon\",\r\n      \"email\":
        \"someone@gmail.com\",\r\n      \"recipientId\": \"1\",\r\n      \"requireIdLookup\":
        \"false\",\r\n      \"userId\": \"d94b1d17-350d-4503-8481-8cd5cf45e33a\",\r\n
        \     \"clientUserId\": \"someone@gmail.com\",\r\n      \"routingOrder\":
        \"1\",\r\n      \"note\": \"\",\r\n      \"roleName\": \"Issuer\",\r\n      \"status\":
        \"sent\",\r\n      \"templateLocked\": \"true\",\r\n      \"templateRequired\":
        \"true\"\r\n    }\r\n  ],\r\n  \"agents\": [],\r\n  \"editors\": [],\r\n  \"intermediaries\":
        [],\r\n  \"carbonCopies\": [],\r\n  \"certifiedDeliveries\": [],\r\n  \"inPersonSigners\":
        [],\r\n  \"recipientCount\": \"1\",\r\n  \"currentRoutingOrder\": \"1\"\r\n}"
  recorded_at: Tue, 13 Aug 2013 19:46:37 GMT
recorded_with: VCR 2.2.2
