---
http_interactions:
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/accounts/997938/signing_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-docusign-authentication:
      - '{"Username":"<Username>","Password":"<Password>","IntegratorKey":"<IntegratorKey>"}'
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-reset:
      - '1478602800'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '978'
    body:
      encoding: UTF-8
      string: "{\r\n  \"groups\": [\r\n    {\r\n      \"signingGroupId\": \"7403\",\r\n
        \     \"groupName\": \"onesigner\",\r\n      \"groupType\": \"sharedSigningGroup\",\r\n
        \     \"created\": \"10/27/2016 10:49:48 AM\",\r\n      \"createdBy\": \"Mark
        Jewel\",\r\n      \"modified\": \"10/27/2016 10:49:48 AM\",\r\n      \"modifiedBy\":
        \"Mark Jewel\"\r\n    },\r\n    {\r\n      \"signingGroupId\": \"7414\",\r\n
        \     \"groupName\": \"John One Signature\",\r\n      \"groupType\": \"sharedSigningGroup\",\r\n
        \     \"created\": \"10/27/2016 11:21:28 AM\",\r\n      \"createdBy\": \"Mark
        Jewel\",\r\n      \"modified\": \"10/27/2016 11:22:00 AM\",\r\n      \"modifiedBy\":
        \"Mark Jewel\"\r\n    },\r\n    {\r\n      \"signingGroupId\": \"7431\",\r\n
        \     \"groupName\": \"sample group\"[...]
