---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/<AccountID>/signing_groups
    body:
      encoding: UTF-8
      string: '{"groups":[{"groupName":null,"groupType":"sharedSigningGroup","users":[]}]}'
    headers:
      x-docusign-authentication:
      - '{"Username":"<Username>","Password":"<Password>","IntegratorKey":"<IntegratorKey>"}'
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-reset:
      - '1478527200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '969'
    body:
      encoding: UTF-8
      string: "{\r\n  \"groups\": [\r\n    {\r\n      \"errorDetails\": {\r\n        \"errorCode\":
        \"INVALID_GROUP_NAME\",\r\n        \"message\": \"No group name was provided.\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
  recorded_at: Mon, 07 Nov 2016 13:31:23 GMT
recorded_with: VCR 3.0.3
