---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/<AccountID>/signing_groups
    body:
      encoding: UTF-8
      string: '{"groups":[{"groupName":null,"groupType":"sharedSigningGroup","users":[]}]}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<Username>","Password":"<Password>","IntegratorKey":"<IntegratorKey>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1501106400'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '986'
      X-Docusign-Tracetoken:
      - 43883cde-e6d3-451c-8dfa-bb381021f4f0
    body:
      encoding: UTF-8
      string: "{\r\n  \"groups\": [\r\n    {\r\n      \"errorDetails\": {\r\n        \"errorCode\":
        \"INVALID_GROUP_NAME\",\r\n        \"message\": \"No group name was provided.\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
  recorded_at: Wed, 26 Jul 2017 21:08:10 GMT
recorded_with: VCR 3.0.3
